# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project-Specific
*.log

/.metadata
/RemoteSystemsTempFiles

/lpuart_echo_dma_s32k142/.settings
/lpuart_echo_dma_s32k142/Debug/
/lpuart_echo_dma_s32k142/Debug_Configurations/
/lpuart_echo_dma_s32k142/Debug_FLASH/
/lpuart_echo_dma_s32k142/Debug_RAM/
/lpuart_echo_dma_s32k142/Release/
/lpuart_echo_dma_s32k142/.lpuart_echo_dma_s32k142.g_c
/lpuart_echo_dma_s32k142/.lpuart_echo_dma_s32k142.g_x

/lpuart_echo_irq_s32k142/.settings
/lpuart_echo_irq_s32k142/Debug/
/lpuart_echo_irq_s32k142/Debug_Configurations/
/lpuart_echo_irq_s32k142/Debug_FLASH/
/lpuart_echo_irq_s32k142/Debug_RAM/
/lpuart_echo_irq_s32k142/Release/
/lpuart_echo_irq_s32k142/.lpuart_echo_irq_s32k142.g_c
/lpuart_echo_irq_s32k142/.lpuart_echo_irq_s32k142.g_x